@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --font-outfit: 'Outfit', sans-serif;
  --font-Ovo: ' Ovo', serif;
  --grid-cols-auto: repeat(auto-fit, minmax(00px, 1fr));
}

* {
  font-family: var(--font-outfit);
}

.font-Ovo {
  font-family: var(--font-Ovo);
}

.grid-cols-auto {
  grid-template-columns: var(--grid-cols-auto);
}